.contactBox {
  border: 0.5vw solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  padding: 2vw 7vw;
  margin-top: 2vw;
  width: 29vw;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 1vw 1vw 0.5vw #888888;
  transition: transform 0.5s, box-shadow 0.5s, background-color 1s,
    border-radius 0.5s;
}

.contactBox:hover,
.contactBox:focus {
  transform: scale(1.1);
  background-color: rgb(0, 250, 154, 0.2);
  box-shadow: 1.5vw 1.5vw 1.5vw #888888;
  border-radius: 2vw;
}

.contactBox .contactText {
  font: 1.4vw "Hubballi", cursive;
  text-align: justify;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vw;
  font: 1.5vw "Hubballi", cursive;
}

.contactBox input[type="text"] {
  width: 29vw;
  border: none;
  border-bottom: 3px solid black;
  font: 1.5vw "Hubballi", cursive;
  background-color: transparent;
}

.contactBox input[type="text"]:focus {
  outline: none;
  border-color: blue;
}

.contactBox input[type="email"] {
  width: 29vw;
  border: none;
  border-bottom: 3px solid black;
  font: 1.5vw "Hubballi", cursive;
  background-color: transparent;
}

.contactBox input[type="email"]:focus {
  outline: none;
  background-color: none;
  border-color: blue;
}

.contactBox ::placeholder {
  color: grey;
}

.contactBox textarea {
  margin-top: 0.5vw;
  height: 7vw;
  width: 28.5vw;
  border: 3px solid black;
  font: 1.5vw "Hubballi", cursive;
  background-color: transparent;
  resize: none;
}

.contactBox textarea:focus {
  outline: none;
  border-color: blue;
}

.contactBox button {
  width: 10vw;
  height: 2.8vw;
  font: bold 1.5vw "Hubballi", cursive;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
}

.contactBox button:hover {
  cursor: pointer;
  color: white;
  border: 3px solid white;
  background-color: black;
}
