.blogsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}

.blockTitleBlog {
  margin-bottom: 2vw;
  font: bold 3vw "Hubballi", cursive;
}
