.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockTitleContact {
  font: bold 3vw "Hubballi", cursive;
}

.contactBox {
  outline: 0.5vw solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  padding: 2vw 7vw;
  margin-top: 2vw;
  width: 29vw;  
}

.contactDescription {
  font: 1.5vw "Hubballi", cursive;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  font: 1.5vw "Hubballi", cursive;
}

.contactBox input[type="text"] {
  width: 29vw;
  border: none;
  border-bottom: 3px solid black;
  font: 1.5vw "Hubballi", cursive;
  background-color: transparent;
}

.contactBox input[type="text"]:focus {
  outline: none;
  border-color: blue;
}

.contactBox input[type="email"] {
  width: 29vw;
  border: none;
  border-bottom: 3px solid black;
  font: 1.5vw "Hubballi", cursive;
  background-color: transparent;
}

.contactBox input[type="email"]:focus {
  outline: none;
  background-color: transparent;
  border-color: blue;
}

.contactBox ::placeholder {
  color: grey;
}

.contactBox textarea {
  margin-top: 0.5vw;
  height: 7vw;
  border: 3px solid black;
  font: 1.5vw "Hubballi", cursive;
  background-color: transparent;
  resize: none;
}

.contactBox textarea:focus {
  outline: none;
  border-color: blue;
}

.contactBox button{
  width: 10vw;
  height: 2.8vw;
  font: bold 1.5vw "Hubballi", cursive;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
}

.contactBox button:hover{
  cursor: pointer;
  color: white;
  border: 3px solid white;
  background-color: black;
}