.imgPotrait {
  width: 25vw;
  height: 34vw;
  border-right: 1vw solid;
  border-left: 1vw solid;
  border-radius: 2vw 2vw 2vw 2vw;

  animation-name: borderColorChange;
  animation-duration: 15s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes borderColorChange {
  0% {
    border-color: orange;
    background-color: orange;
  }
  25% {
    border-color: rgb(224, 224, 82);
    background-color: rgb(224, 224, 82);
  }
  50% {
    border-color: lightgreen;
    background-color: lightgreen;
  }
  75% {
    border-color: lightskyblue;
    background-color: lightskyblue;
  }
  100% {
    border-color: pink;
    background-color: pink;
  }
}

.aboutContainer {
  padding-top: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.aboutContainer_Title {
  font: bold 2.5vw "Hubballi", cursive;
  color: black;
}

.aboutContainer_subTitle {
  font: 2.5vw "Hubballi", cursive;
  color: black;
}

.aboutMe {
  padding-top: 2vw;
  width: 30vw;
  font: 1.7vw "Hubballi", cursive;
  line-height: 2.3vw;
  text-align: justify;
}
