.CVPage {
  padding-top: 5vw;
  display: flex;
}

.CVContainerLeft {
  height: 73vw;
  width: 30vw;
  padding: 4vw 2vw;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  background-color: #dcb484;
  border: 0.3vw solid #333232;
}

.CVContainerRight {
  height: 77vw;
  width: 41vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  background-color: #abc3a3;
  border: 0.3vw solid #333232;
}

.CVTitle {
  font: bold 2vw "Hubballi", cursive;
}

.CVSubTitle {
  font: 2vw "Hubballi", cursive;
}

.CVDescription {
  text-align: justify;
  font: 1.4vw "Hubballi", cursive;
  line-height: 1.5vw;
}

li {
  font: 1.4vw "Hubballi", cursive;
  line-height: 2vw;
}

.CVContact li {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.CVHardSkillsList {
  padding-left: 1vw;
  padding-top: 1.5vw;
  display: flex;
  gap: 10vw;
  font: 1.4vw "Hubballi", cursive;
}

.CVSoftSkillsList,
.CVTechSkillsList {
  padding-left: 1vw;
  padding-top: 1.5vw;
  font: 1.4vw "Hubballi", cursive;
}

.CVImage {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}

.CVImage img {
  height: 15vw;
  border: 5px solid white;
  border-radius: 20vw;
}

.CVContact {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  list-style-type: none;
}

.imgIcon {
  height: 1.3vw;
}

