.button {
  font: bold 1.5vw "Hubballi", cursive;
  color: white;
  border: 3px solid white;
  background-color: black;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  border: 3px solid black;
}
