.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockTitleSkills {
  font: bold 3vw "Hubballi", cursive;
  margin-bottom: 4vw;
}

.skillsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  font: 1.3vw "Hubballi", cursive;
}

.skillsOuter {
  background-color: white;
  width: 40vw;
  border: 0.3vw solid #303030;
  border-radius: 0.5vw;
}

.skillsInner{
  margin: -1px; /* So that there is no gap between inner and outer div*/
  padding-left: 0.5vw;
  color: white;
  background-color: #303030;
  border: 0.2vw solid #303030;
}
.skillsIndicator{
    display: flex;
    gap: 7vw;
}

/* Skills block, progress bar meters */
#skill1
{
    width: 75%;
}

#skill2
{
    width: 30%;
}

#skill3
{
    width: 70%;
}

#skill4
{
    width: 55%;
}

#skill5
{
    width: 70%;
}

