.ProjectPage {
  padding-top: 9vw;
  display: flex;
  flex-direction: column;
  gap: 15vw;
  justify-content: center;
  color: white;
}

.ProjectGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5vw;
}

.gridBackgroundIMG {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 25vw;
}

#Project1 .gridBackgroundIMG {
  background-image: url("../../../public/Images/Project_bg.png");
}

#Project2 .gridBackgroundIMG {
  background-image: url("../../../public/Images/Project_bg.png");
}

#Project3 .gridBackgroundIMG {
  background-image: url("../../../public/Images/Project_bg.png");
}

.gridTextBlock {
  width: 35vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.gridTextBlock p {
  font: 1.5vw "Hubballi", cursive;
  line-height: 2vw;
  text-align: justify;
}

.gridImage {
  width: 35vw;
  height: 25vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#Project1 .gridImage {
  animation-name: imageSliderProject1;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes imageSliderProject1 {
  0% {
    background-image: url("../../../public/Images/Project_Clover_1.png");
  }
  16% {
    background-image: url("../../../public/Images/Project_Clover_2.png");
  }
  33% {
    background-image: url("../../../public/Images/Project_Clover_3.png");
  }
  49% {
    background-image: url("../../../public/Images/Project_Clover_4.png");
  }
  66% {
    background-image: url("../../../public/Images/Project_Clover_5.png");
  }
  82% {
    background-image: url("../../../public/Images/Project_Clover_6.png");
  }
  100% {
    background-image: url("../../../public/Images/Project_Clover_7.png");
  }
}

#Project2 .gridImage {
  animation-name: imageSliderProject2;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes imageSliderProject2 {
  0% {
    background-image: url("../../../public/Images/Project_SpaceRush_1.png");
  }
  50% {
    background-image: url("../../../public/Images/Project_SpaceRush_2.png");
  }
  100% {
    background-image: url("../../../public/Images/Project_SpaceRush_3.png");
  }
}

/* #Project3 .gridImage {
  animation-name: imageSliderProject3;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes imageSliderProject3 {
  0% {
    background-image: url("../../../public/Images/Project_Clover_1.png");
  }
  16% {
    background-image: url("../../../public/Images/Project_Clover_2.png");
  }
  33% {
    background-image: url("../../../public/Images/Project_Clover_3.png");
  }
  49% {
    background-image: url("../../../public/Images/Project_Clover_4.png");
  }
  66% {
    background-image: url("../../../public/Images/Project_Clover_5.png");
  }
  82% {
    background-image: url("../../../public/Images/Project_Clover_6.png");
  }
  100% {
    background-image: url("../../../public/Images/Project_Clover_7.png");
  }
} */

.ProjectTitle {
  font: Bold 4vw "Hubballi", cursive;
}

.ProjectSubTitle {
  font: Bold 2.5vw "Hubballi", cursive;
}
