.ContactPage {
  padding-top: 10vw;
  display: flex;
  flex-direction: column;
  gap: 10vw;
  justify-content: center;
  align-items: center;
  color: white;
}

.contactGetInTouch,
.contactLeaveAMessage,
.contactFollowMe {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.contactGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.5vw;
}
